---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
import {FormState} from "./FormState"
---

<section id="reserve" class="pt-8">
  <Container className="space-y-10 md:sapce-y-12 p-16">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title>Datos de contacto</Title>
    </div>
    <FormState client:load/>
    <Paragraph className="text-center">
      Esta información la utilizaremos para contactar contigo e indicarte los pasos para el pago. Al completar el formulario te llegará un correo con la entrada.
      Esta entrada no funcionará hasta completar el pago.
    </Paragraph>
  </Container>
</section>
./FormState