---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import FooterHero from '../components/sections/FooterHero.astro';

---

<Layout title="Party - Halloween 13">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<Services/>
		<AboutUs/>
		<FooterHero/>
	</main>
</Layout>